<div class="d-flex justify-content-center ">
  <div class="row row-cols-1">
    <div class="col">
      <h1><%= @household.name %></h1>
    </div>
    <div>
    <img src="https://res.cloudinary.com/psmkr/image/upload/v1646900777/images%20for%20tidytally/b976806e00f39498253d4c3dd531cfe3_hprcxi.gif" alt="" class="home-setup">
    </div>
    <div class="col">
      <%= link_to "Add a room", new_room_path, class: "nes-btn is-success mt-4" %>
    </div>
    <div class="col">
      <%= link_to "Add a flatmate",  edit_household_path(@household), class: "nes-btn is-success mt-4" %>
    </div>
    <div class="col">
      <%= link_to "Show rooms", rooms_path, class: "nes-btn is-success mt-4" %>
    </div>
    <div class="col ">
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nes-btn is-success mt-4" %>
    </div>
  </div>
</div>
