
<div class="container">
  <div class="">
    <h1 class="mt-3">Which room? </h1>
    <%= link_to "> Go To My Household", rooms_path, class: "" %>
  </div>

  <div class="cards mt-3">
    <div class="d-flex justify-content-center">
    <%= link_to add_room_path(@room , name: "Kitchen", household: @household), method: :post do %>
      <div class="card-room" >
        <img src="https://res.cloudinary.com/psmkr/image/upload/v1646654306/images%20for%20tidytally/23730662_llpktg.png" class="object-fit" alt="">
      </div>
      <h5 class="text-center mt-3" >Kitchen</h5>
    <% end %>
    </div>

    <div class="d-flex justify-content-center">
    <%= link_to add_room_path(@room , name: "Bathroom", household: @household), method: :post do %>
      <div class="card-room" >
        <img src="https://res.cloudinary.com/psmkr/image/upload/v1646654306/images%20for%20tidytally/23730661_lhm7mv.png" class="object-fit" alt="">
      </div>
      <h5 class="text-center mt-3">Bathroom</h5>
    <% end %>
    </div>


    <div class="d-flex justify-content-center">
    <%= link_to add_room_path(@room , name: "Office", household: @household), method: :post do %>
      <div class="card-room" >
        <img src="https://res.cloudinary.com/psmkr/image/upload/v1646654307/images%20for%20tidytally/23730663_dfhkz3.png" class="object-fit" alt="">
      </div>
      <h5 class="text-center mt-3">Office</h5>
    <% end %>
    </div>


    <div class="d-flex justify-content-center">
    <%= link_to add_room_path(@room , name: "Lounge", household: @household), method: :post do %>
      <div class="card-room" >
        <img src="https://res.cloudinary.com/psmkr/image/upload/v1646654307/images%20for%20tidytally/23730664_favxi7.png" class="object-fit" alt="">
      </div>
      <h5 class="text-center mt-3">Lounge</h5>
    <% end %>
    </div>
  </div>
  <div class="mt-4 px-4">
    <h2>CREATE CUSTOM ROOM</h2>
    <div class="d-flex justify-content-center mt-3">
      <%= simple_form_for @room do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <%= f.input :name, label: false, placeholder: "'Fluff Lounge'" %>
        <%= f.submit 'READY!', class:"nes-btn is-success" %>

      <% end %>
    </div>
  </div>
</div>

<h1>CREATE CUSTOM ROOM</h1>
<div class="d-flex justify-content-center mx-4">
<%= simple_form_for @room do |f| %>
<%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<%= f.input :name, label: false, placeholder: "'Fluff Lounge'" %>
<%= f.submit 'READY!', class:"nes-btn is-success" %>

    <% end %>
</div>

