<!DOCTYPE html>
<html>
  <head>
    <!-- Primary Meta Tags -->
<title>TidyTally - GAMIFY YOUR HOME</title>
<meta name="title" content="TidyTally - GAMIFY YOUR HOME">
<meta name="description" content="Household chores manager for when your flat needs an 8-bit of cleaning.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.tidytally.com/">
<meta property="og:title" content="TidyTally - GAMIFY YOUR HOME">
<meta property="og:description" content="Household chores manager for when your flat needs an 8-bit of cleaning.">
<meta property="og:image" content="https://www.tidytally.com/og_image.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.tidytally.com/">
<meta property="twitter:title" content="TidyTally - GAMIFY YOUR HOME">
<meta property="twitter:description" content="Household chores manager for when your flat needs an 8-bit of cleaning.">
<meta property="twitter:image" content="https://www.tidytally.com/og_image.jpg">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
  <% if user_signed_in? && !current_page?(root_path) %>
    <%= render 'shared/navbar' %>
    <% end %>
    <%= render 'shared/flashes' %>
    <%= yield %>
  </body>
</html>
