<h1>CHOOSE A HOUSENAME</h1>
<img src="https://res.cloudinary.com/psmkr/image/upload/v1646670824/images%20for%20tidytally/21959505_pg7rot_f1ctqo.png" class="home-setup">
<div class="d-flex justify-content-center">
<%= simple_form_for @household do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.input :name, placeholder: "Boddinstr. **", label: false,  input_html: { class: "white-text" } %>

  <%= f.submit :submit%>
<% end %>

<h2>Have Household alrady?</h2>
<%= link_to "Click here", select_household_path  %>
